@use './partials/vars' as *;

@import 'node_modules/bootstrap/scss/bootstrap';

@import 'node_modules/@fontsource/bebas-neue/400.css';

@import 'node_modules/@fontsource/lato/300.css';
@import 'node_modules/@fontsource/lato/400.css';
@import 'node_modules/@fontsource/lato/700.css';

@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@import 'node_modules/flag-icons/css/flag-icons.min.css';

body{
  font-family: $main-font;
}

header {
  background-color: $dark-color;
}

main, footer {
  background-color: $primary-color;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-custom {
  width:90%;
  margin: 0 auto;
}

